[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "terminal_gl"]
	path = terminal_gl
	url = https://github.com/KBOX1234/terminal_gl.git
[submodule "tgl_gui"]
	path = tgl_gui
	url = https://github.com/KBOX1234/tgl_gui.git
[submodule "dyad"]
	path = dyad
	url = https://github.com/rxi/dyad.git
[submodule "sphysics"]
	path = sphysics
	url = https://github.com/KBOX1234/sphysics.git
