[submodule "terminal_gl"]
	path = terminal_gl
	url = https://github.com/KBOX1234/terminal_gl.git
[submodule "tgl_gui"]
	path = tgl_gui
	url = https://github.com/KBOX1234/tgl_gui.git
[submodule "sphysics"]
	path = sphysics
	url = https://github.com/KBOX1234/sphysics.git
